{% extends 'Main.html' %}

    <style>
        .pp{
            color: #007bff;
            font-size: 31px;
        }
        p{
            color: #007bff;
            font-size: 25px;
        }
        a{
            margin-top: 4px;
        }
    </style>


{% block content %}
	<div class="col">

		<div class="col-md">
			  	<div class="card-header">
                    <hr/>
                    <hr/>
                    <br/>
                    <div class="card">{{ the_lesson.lesson_name }}</div>

                    <p class="pp">{{ the_course_of_all_these_lessons.course_name }}</p>

{#                    <a class="btn btn-info btn-md" href="{% url 'log_in' %}">Log in Back</a>#}
			  	</div>
			</div>

    </div>

    {% if not the_lesson.is_previewed and the_course_of_all_these_lessons not in request.user.student.getStudentCourses %}
        <p>not entitled to see</p>

        {% elif not the_lesson.is_previewed and request.user.is_anonymous %}
        <p>Not able</p>
    {% else %}
{#    <div class="embed-responsive embed-responsive-16by9">#}
{#        <video controls width="100" height="40" src="{% static 'MohTech/videos/Screen Recording 2020-04-02 at 4.39.00 AM.mov' %}" ></video>#}
{#</div>#}
        <p>Must be a video here</p>
    {% endif %}

{#    {% for the_courseOF_lessons in the_course_of_all_these_lessons.getAllCourseLessons %}#}
    {% if check %}
        <div></div>
    {% else %}
        {% if next.lesson_name == the_lesson.lesson_name %}
            <div class="add-row">
            <span style="font-size: 28px" aria-hidden="true">&laquo;</span><a class="btn btn-primary" href="{% url 'lesson_detail' pre.lesson_id %}">{{ pre }}</a>
            </div>
            {% elif pre.lesson_name == the_lesson.lesson_name %}

                <a class="btn btn-primary" href="{% url 'lesson_detail' next.lesson_id %}">{{ next }} </a><span style="font-size: 28px" aria-hidden="true">&raquo;</span>
        {% else %}
                        <span style="font-size: 28px" aria-hidden="true">&laquo;</span><a class="btn btn-primary" href="{% url 'lesson_detail' pre.lesson_id %}">{{ pre }}</a>
            <a class="btn btn-primary" href="{% url 'lesson_detail' next.lesson_id %}">{{ next }}</a><span style="font-size: 28px" aria-hidden="true">&raquo;</span>

        {% endif %}
    {% endif %}


    {% if the_course_of_all_these_lessons in request.user.student.getStudentCourses %}
                    <!--Comments-->
            <div class="card card-comments mb-3 wow fadeIn">
              <div class="card-header font-weight-bold">3 comments</div>
              <div class="card-body">

                <div class="media d-block d-md-flex mt-4">
                  <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Miley Steward
                      <a href="" class="pull-right">
                        <i class="fas fa-reply"></i>
                      </a>
                    </h5>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    <div class="media d-block d-md-flex mt-3">
                      <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg"
                        alt="Generic placeholder image">
                      <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="mt-0 font-weight-bold">Tommy Smith
                          <a href="" class="pull-right">
                            <i class="fas fa-reply"></i>
                          </a>
                        </h5>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque
                        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                        sunt explicabo.
                      </div>
                    </div>

                    <!-- Quick Reply -->
                    <div class="form-group mt-4">
                      <label for="quickReplyFormComment">Your comment</label>
                      <textarea class="form-control" id="quickReplyFormComment" rows="5"></textarea>

                      <div class="text-center">
                        <button class="btn btn-info btn-sm" type="submit">Post</button>
                      </div>
                    </div>


                    <div class="media d-block d-md-flex mt-3">
                      <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (21).jpg"
                        alt="Generic placeholder image">
                      <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="mt-0 font-weight-bold">Sylvester the Cat
                          <a href="" class="pull-right">
                            <i class="fas fa-reply"></i>
                          </a>
                        </h5>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                        sed quia non numquam eius modi
                        tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Caroline Horwitz
                      <a href="" class="pull-right">
                        <i class="fas fa-reply"></i>
                      </a>
                    </h5>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti
                    quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                    similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga.
                  </div>
                </div>

              </div>
            </div>
        {% else %}
        <p>النقاشات للطلاب المشتركين</p>
    {% endif %}
{#    {% endfor %}#}
{% endblock %}
